<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <div id="app">
    <ul>
      <li v-for="(f, i) in fruits">{{i}}:{{f}}</li>
    </ul>
    <ul>
      <li v-for="(value, key, i) in obj">{{i}}:{{key}}={{value}}</li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        fruits: ['りんご', 'ばなな', 'ぶどう'],
        obj: {
          firstName: '太郎',
          lastName: '田中',
          age: 21
        }
      },
    })
  </script>
</body>
</html>
