<div class="container">
  <div class="title">商品編集</div>
  <form (ngSubmit)="saveHero()" [formGroup]="heroForm">
    <div class="edit-form">
      <div class="edit-line">
        <label>ID</label>
        <span>{{ heroForm.controls.id.value }}</span>
      </div>
      <div class="edit-line">
        <label>名前</label>
        <input type="text" formControlName="name" required />
      </div>
      <div class="edit-line">
        <label>スキル</label>
        <input type="text" formControlName="skill" />
      </div>
      <div class="edit-line">
        <label>説明</label>
        <input type="text" formControlName="description" />
      </div>
    </div>
    <div class="footer">
      <span
        class="button white"
        [routerLink]="['/heros', heroForm.controls.id.value]"
        >キャンセル</span
      >
      <button class="button black">保存</button>
    </div>
  </form>
</div>
