<div class="container">
  <div class="title">商品編集</div>
  <form (ngSubmit)="saveHero()" [formGroup]="heroForm">
    <div class="edit-form">
      <div class="edit-line">
        <label>Key</label>
        <span>{{ heroForm.controls.key.value }}</span>
      </div>
      <div class="edit-line">
        <label>名前</label>
        <div>
          <!-- required で入力必須バリデーションが利くようになる。 -->
          <!-- カスタムバリデーターを適用。 -->
          <input
            id="name"
            type="text"
            formControlName="name"
            required
            maxlength="20"
            appForbiddenWord="ぬるぽ"
          />
          <!--
            invalid 一つでもバリデーションに違反したらtrue
            dirty name要素が変更されたらtrue
            touch name要素があるinputのblurイベント発火時にtrue
            dirty と touched を入れないと、何もしてない状態からエラー分が表示されてしまう。
            -->
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            <div *ngIf="name.errors.required">入力してください。</div>
            <div *ngIf="name.errors.maxlength">
              20文字以内で入力してください。
            </div>
            <div *ngIf="name.errors.forbiddenWord">ガッ</div>
          </div>
        </div>
      </div>
      <div class="edit-line">
        <label>スキル</label>
        <!-- TypeSceipt側でValidationを定義。-->
        <div>
          <input type="text" formControlName="skill" />
          <div
            *ngIf="skill.invalid && (skill.dirty || skill.touched)"
            class="alert"
          >
            <div *ngIf="skill.errors.required">入力してください。</div>
            <div *ngIf="skill.errors.maxlength">
              20文字以内で入力してください。
            </div>
          </div>
        </div>
      </div>
      <div class="edit-line">
        <label>説明</label>
        <input type="text" formControlName="description" />
      </div>
    </div>
    <div class="footer">
      <span
        class="button white"
        [routerLink]="['/heroes', heroForm.controls.id.value]"
        >キャンセル</span
      >
      <!-- ばろでーしょんクリアした場合のみボタンを有効化 -->
      <button class="button black" [class.disabled]="heroForm.invalid">
        保存
      </button>
    </div>
  </form>
</div>
