<div class="container">
  <div class="title">ヒーロー作成</div>
  <form (ngSubmit)="saveHero()" [formGroup]="heroForm">
    <div class="edit-form">
      <div class="edit-line">
        <label>名前</label>
        <div>
          <input
            id="name"
            type="text"
            formControlName="name"
            required
            maxlength="20"
            appForbiddenWord="ぬるぽ"
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            <div *ngIf="name.errors.required">入力してください。</div>
            <div *ngIf="name.errors.maxlength">
              20文字以内で入力してください。
            </div>
            <div *ngIf="name.errors.forbiddenWord">ガッ</div>
          </div>
        </div>
      </div>
      <div class="edit-line">
        <label>スキル</label>
        <div>
          <input type="text" formControlName="skill" />
          <div
            *ngIf="skill.invalid && (skill.dirty || skill.touched)"
            class="alert"
          >
            <div *ngIf="skill.errors.required">入力してください。</div>
            <div *ngIf="skill.errors.maxlength">
              20文字以内で入力してください。
            </div>
          </div>
        </div>
      </div>
      <div class="edit-line">
        <label>説明</label>
        <input type="text" formControlName="description" />
      </div>
    </div>
    <div class="footer">
      <span class="button white" routerLink="/heroes">キャンセル</span>
      <button class="button black" [class.disabled]="heroForm.invalid">
        作成
      </button>
    </div>
  </form>
</div>
