<div class="container">
  <div class="title">ヒーロー 一覧</div>
  <div class="hero-list-container">
    <!-- *ngif で分岐条件を指定。'heloList'は下の<ng-template #heroList>に対応 -->
    <div class="waiting-for-heros" *ngIf="heros === null; else heroList">
      一覧を取得しています......
    </div>
    <ng-template #heroList>
      <div class="hero-list-table">
        <div class="hero-line header">
          <div class="hero-id">ID</div>
          <div class="hero-name">名前</div>
          <div class="hero-skill">スキル</div>
          <div class="operate">操作</div>
        </div>
        <!-- *ngFor でループ処理。'let hoge of fuga'でfugaの要素をﾋﾄﾂﾋﾄﾂhogeに代入 -->
        <!-- マウスホバーのイベント情報を付与 -->
        <div
          class="hero-line"
          *ngFor="let hero of heros"
          (mouseenter)="hovered(hero)"
          (mouseleave)="unhovered(hero)"
        >
          <div class="hero-id">{{ hero.id }}</div>
          <div class="hero-name">{{ hero.name }}</div>
          <div class="hero-skill">{{ hero.skill }}</div>
          <!-- マウスホバー時に操作ボタンを表示 -->
          <div class="operate">
            <span *ngIf="!hero.hovered; else Unhovered"></span>
            <ng-template #Unhovered
              ><span class="button white" [routerLink]="hero.id"
                >詳細</span
              ></ng-template
            >
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
